body {
    background-color: #E8C39E;
    font-size: 16px;
}
a {
    font-size: 32px;
    margin-right: 40px;
    margin-left:40px;
    margin-top:20px;
    color:white;
}

.menu-title {
    margin-top:60px;
    text-align:center;
    font-size: 50px;
    font-weight: 600;
}

.search-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  .search-input {
    width: 400px; 
    height: 30px; 
    font-size: 20px;
    padding: 6px;
  }

  .search-button {
    margin-top: 10px;
    font-size: 24px;
    padding: 10px 20px;
    
  }

  .search-results, .search-results-p, .menu, .menu-p {
    text-align: center;
  }

  .recipes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .recipe-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recipe-image {
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  .recipe-title {
    margin-top: 10px;
  }

  .recipe-details {
    margin-top: 10px;
  }

  .add-delete-button {
    margin-top: 10px;
    font-size:16px;
    padding: 6px;
  }

  /*CALORIES*/

    .search-button-container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search-calories-container{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top:50px;
        height: 50px;
    }

    .input-container {
        width: 400px; 
        height: 30px; 
        font-size: 20px;
        padding: 6px;
    }

    .input-container input {
      padding: 10px;
      width: 200px;
      font-size: 16px;
    }

  /*HOME*/
    .temperature {
        text-align:center;
    }

    .message {
        text-align:center;
    }